#!/bin/sh
set -eu

echo ""
echo ""
echo "[chezmoi] 首次配置完成：如需修改配置，请编辑："
echo "  ~/.config/chezmoi/chezmoi.yaml"
echo "  (Linux 通常是：$HOME/.config/chezmoi/chezmoi.yaml)"
echo "chezmoi 还会在首次配置后创建一个 API 文件，路径为："
echo "  ~/.api"
echo "  你可以把密钥填写在这个文件中"