diff:
  pager: "cat"

edit:
  command: "code"
  args: ["--wait"]

data:
  name: "Aming"
  email: "item_aming@163.com"
  proxy: "http://127.0.0.1:7897"

# 提示：如需更改配置，请打开并编辑：
# /Users/aming/.config/chezmoi/chezmoi.yaml
